server:
  port: 8087

spring:
  application:
    name: API-GATEWAY

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: USER-SERVICE
          uri: lb://USER-SERVICE
          predicates:
            - Path=/user/**
          filters:
            - CustomRouteFilter

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
